# Data
data/mit-bih-arrhythmia-database-1.0.0/

# Dataset
data/raw/*
data/processed/*

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environment
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store